<h1><strong>Tasks Edit Page</strong></h1>
<%= link_to 'Back to Projects', projects_path, class: "btn btn-outline-dark mb-4" %>

<div class="card">
  <div class="card-body">
    <h2 class='card-title mb-4'>
      <span>Editing task</span>
    </h2>

    <%= render 'form' %>
  </div>
</div>
