<div class="card">
  <div class="card-body">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span>Projects</span>
      <%= link_to "New project", new_project_path, class: "btn btn-primary" %>
    </h2>

    <% @projects.each do |project| %>
      <%= render project %>
      <p>
        <%= link_to "Show this project", project %>
      </p>
    <% end %>
  </div>
</div>

