<footer class="container-fluid mt-5 text-center bg-light">
  <div class="container d-flex justify-content-between">
    Keikakyou - made with ❤️ at Code The Dream <span class="pull-right"><%= Time.now.year %></span>
  </div>
</footer>